* { padding: 0; margin: 0; font-family: 'Roboto', Helvetica, Arial, Lucida, sans-serif;}

header{
    width: 100%;
    position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
    
    background-color: rgb(0,85,179);
    color: white;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-top: 1%;
    padding-bottom: 1%;
}

h1{
    font-size: 40px;
    font-family: 'Archivo', Helvetica, Arial, Lucida, sans-serif;

}

h1,i{
    color:rgb(0,85,179);
}

i{
    font-size: 18px;
}

aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    gap: 85px;

    width: 45%;

    text-align: center;
}

#section1 aside{
    margin-left: 5%;
}


#menu_header{
    margin-right: 8%;
}

#menu_header ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

#menu_header a{
    font-size: 1vw;
    text-transform: uppercase;
    color:inherit;
    text-decoration: inherit;
}


#logo_header{
    margin-left: 8%;
    width: 250px;
    height: auto; 
}

#main_video{
    max-width: 100%;
}

#main_container{
    margin-top: -125px;
    display: flex;
    flex-direction: column;

    align-items: center;

    gap: 50px;
}

#main_container section{
    background-color: white;
    width: 80%;

    display: flex;

    flex-direction: row;

    gap: 10%;
}

#main_container p{
    color: #3A4856;
}

.round{
    border-radius: 30px;
    filter: drop-shadow(0 0 0.75rem black);
}

section.round{
    padding-top: 5%;
    padding-bottom: 5%;
}