* { padding: 0; margin: 0; font-family: 'Roboto', Helvetica, Arial, Lucida, sans-serif;}

header{
    width: 100%;
    position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
    
    background-color: rgb(0,85,179);
    color: white;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-top: 1%;
    padding-bottom: 1%;
}

h1{
    text-transform: uppercase;
    font-size: 40px;
    font-family: 'Archivo', Helvetica, Arial, Lucida, sans-serif;
    margin-bottom: 85px;

}

h1, h2, i{
    color:rgb(0,85,179);
}

i{
    font-size: 18px;
}

.boxbutton_white{
    transition: color, background-color 0.35s, box-shadow 0.35s;

    font-size: 20px;
    color: rgb(0,85,179);
    text-decoration: none; 
    text-transform: uppercase;
    border: 2px solid rgb(0,85,179); 


    box-shadow: 12px 12px 2px 1px rgb(0,85,179);    
    padding: 10px 20px; 
    display:inline-block;
}

.boxbutton_white:hover{
    color: white;
    background-color: rgb(0,85,179);
    box-shadow: white;  
    box-shadow: 0px 0px rgb(0,85,179);
}

aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;

    width: 45%;

    text-align: center;
}

#section1 aside{
    margin-left: 5%;
}


#menu_header{
    margin-right: 8%;
}

#menu_header ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

#menu_header a{
    font-size: 1vw;
    text-transform: uppercase;
    color:inherit;
    text-decoration: inherit;
}


#logo_header{
    margin-left: 8%;
    width: 250px;
    height: auto; 
}

#main_video{
    max-width: 100%;
}

#main_container{
    margin-top: -125px;
    display: flex;
    flex-direction: column;

    align-items: center;

    gap: 50px;
}

#main_container section{
    background-color: white;
    width: 80%;

    display: flex;

    flex-direction: row;

    gap: 10%;
}

#main_container p, #event_bottom p{
    color: #3A4856;
}

#event_bottom{
    width: 80%;
    display: flex;
    flex-direction: row;

    gap: 3%;
}

#event_bottom div{
    display: flex;
    flex-direction: column;

    align-items: center;

    width: 30%;

    text-align: center;
}

#event_bottom h2{
    margin-bottom: 8px;
}

#calendar_img{
    margin-bottom: 25px;
}

#truck_img{
    margin-bottom: 19px;
}

#speak_img{
    margin-bottom: 8px;
}


.round{
    border-radius: 30px;
    filter: drop-shadow(0 0 0.75rem black);
}

section.round{
    padding-top: 5%;
    padding-bottom: 5%;
}